/* This file applies to only desktop screens */
@media (min-width: 768px) {
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 50px;
    }

    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
    }

    .nav-links li {
        border: none;
        padding: 10px 15px;
    }

    .nav-links a {
        font-size: 1em;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: 900px;
        margin: auto;
    }
      
    footer {
	background-color:#4b0076;
    }
}

